.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.input {
  height: 50px;
  width: 100%;
  border-color: inherit;
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.send {
  width: 25%;
  height: 30px;
  background-color: rgb(36, 154, 53);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  margin: 20px 0;
}

.or {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.button {
  color: white;
  width: 30%;
  justify-content: center;
  background-color: rgb(71, 71, 255);
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: rgb(138, 138, 138);
}
